# Ignorar archivos de caché del sistema
.cache/

# Ignorar archivos temporales del sistema
*.log
*.tmp
*.swp

# Ignorar configuraciones específicas del entorno
.env
node_modules/
dist/

archivo_privado.txt
